<div class="document-list-panel">

  @if (isLoading) {
    <p class="messaggio-stato">Caricamento in corso...</p>
  } @else if (errorMessage) {
    <p class="messaggio-stato errore">{{ errorMessage }}</p>
  } @else {

    <h3 class="titolo-lista">Documenti</h3>

    <ul class="lista-principale" role="list">
      @for (doc of documents; track doc.uuid_documento) {
        <li class="item-doc">
          
          <button class="btn-link" type="button" (click)="onRowClick(doc.uuid_documento)">
            {{ doc.nome_documento }}
          </button>

          @if (doc.allegati.length > 0) {
            <ul class="lista-allegati" role="list">
              @for (allegato of doc.allegati; track allegato.id_allegato) {
                <li class="item-allegato">
                  - <button class="btn-link btn-allegato" type="button" (click)="onAttachmentClick(doc, allegato, $event)">
                      {{ allegato.percorso.split('/').pop() || allegato.percorso }}
                    </button>
                </li>              }
            </ul>
          }

        </li>
      }
      @empty {
        <li class="messaggio-stato">Nessun documento trovato.</li>
      }
    </ul>
  }
</div>