<div class="dip-details-card">
  <div class="card-header">
    <h3>Informazioni del pacchetto (DIP)</h3>
  </div>

  @if (dipInfo) {
  <div class="card-body">
    <div class="info-row">
      <span class="info-label">UUID DIP:</span>
      <span class="info-value">{{ dipInfo.uuid || 'N/D' }}</span>
    </div>

    <div class="info-row">
      <span class="info-label">Data Creazione:</span>
      <span class="info-value">{{ dipInfo.creationDate ? (dipInfo.creationDate | date:'dd/MM/yyyy HH:mm') : 'N/D'
        }}</span>
    </div>

    <div class="info-row highlight">
      <span class="info-label">Numero Documenti:</span>
      <span>{{ dipInfo.documentNumber || 'N/D' }}</span>
    </div>

    <div class="info-row">
      <span class="info-label">Numero AIP:</span>
      <span class="info-value">{{ dipInfo.aipNumber || 'N/D' }}</span>
    </div>

    <!-- <div class="info-row">
      <span class="info-label">Stato:</span>
      <span class="info-value status-with-icon">
        @if (dipInfo.status) {
        <span class="status-icon" [class.verified]="isDipVerified(dipInfo.status)"
          [class.not-verified]="!isDipVerified(dipInfo.status)" aria-hidden="true"></span>
        }
        <span>{{ dipInfo.status || 'N/D' }}</span>
      </span>
    </div> -->
  </div>
  } @else {
  <div class="card-body empty-state">
    <p>Nessun pacchetto caricato. Carica un pacchetto e visualizza i dettagli qui.</p>
  </div>
  }
</div>